@padding: @four-column-padding;

[class*='span-'], .row {
  padding: 0 @padding;
  min-height: 1px;
  position: relative;
}

.row {
  overflow: hidden;
}

.span-1 { width: 100% / 4 * 1; }
.span-2 { width: 100% / 4 * 2; }
.span-3 { width: 100% / 4 * 3; }
