@import '../minotaur/variables';

@import 'variables';

@import '../minotaur/minotaur';

.hero-box {
  padding-top: 4em;
  padding-bottom: 4em;
  margin-bottom: 1em;
  text-align: center;
}


.column-heading {
  .well;
}

code, pre {
  font-size: 14em/16;
}

pre {
  border-radius: @ui-border-radius;
  padding: 1em;
  white-space: pre;
  overflow-x: scroll;
  background-color: @ui-well-color;
}

code {
  padding: 3px 5px;
  background-color: darken(@ui-bg, 4%);
}

.subheading {
  display: block;
  font-size: 0.4em;
  font-weight: normal;
}

.bordered {
  border: 1px solid darken(@ui-bg, 10%);
  border-radius: @ui-border-radius;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -1px;
  margin-top: -1px;
}
