article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body{background-color:#ffffff;color:#333333;font-family:"Georgia",sans-serif;line-height:1.75em;}
h1{font-size:3rem;margin-top:0.75rem;margin-bottom:0.75rem;line-height:3rem;font-family:"Georgia",sans-serif;}
h2{font-size:2.15rem;margin-top:0.75rem;margin-bottom:0.75rem;line-height:3rem;font-family:"Georgia",sans-serif;}
h3{font-size:1.75rem;margin-top:0.75rem;margin-bottom:0.75rem;line-height:2rem;font-family:"Georgia",sans-serif;}
h4{font-size:1.25rem;margin-top:0.75rem;margin-bottom:0.75rem;line-height:2rem;font-family:"Georgia",sans-serif;}
h5{font-size:1rem;margin-top:0.75rem;margin-bottom:0.75rem;line-height:1rem;font-family:"Georgia",sans-serif;}
h6{font-size:0.875rem;margin-top:0.75rem;margin-bottom:0.75rem;line-height:1rem;font-family:"Georgia",sans-serif;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:0.8em;font-weight:normal;}
p,ul,ol{margin-top:0.75rem;margin-bottom:0.75rem;}
code,pre{font-family:"Menlo",monospace;}
small,.font-small{font-size:0.9em;opacity:0.9;}
a{color:#2277dd;text-decoration:none;}a:hover{color:#1b5fb1;text-decoration:underline;}
ul{padding-left:2em;}
ul.unstyled{list-style-type:none;padding-left:0;}
label,input,textarea{width:60%;margin-bottom:1em;box-sizing:border-box;}@media (min-width:599px){}@media (min-width:959px){}
label{display:block;float:left;width:40%;}
input,textarea{padding:6px 8px;border-radius:5px;border:1px solid #b3b3b3;outline:none;font-family:"Helvetica Neue",sans-serif;}
input:focus{border-color:#2277dd;}
input[type=submit]{font-size:1.1em;background-color:#d3e4f8;transition:0.3s background-color;}
input[type=submit]:hover{background-color:#e0ecfa;}
div,p,ol,ul,input,textarea{box-sizing:border-box;}
html,body{font-size:16px;line-height:1.5em;margin:0;}
.container{width:100%;margin:0 auto;}
.row{clear:both;}
.clear{min-height:1px;width:100%;clear:both;}
[class*='span-']{width:100%;float:left;}[class*='span-'].right{float:right;}
.well{padding:0.339rem 0.5rem;margin:0 0 0.5rem;background-color:#f4f6fa;border-radius:5px;border:1px solid #d1d9ea;}@media (min-width:599px){.well{padding:0.5085000000000001rem 0.75rem;}}@media (min-width:959px){.well{padding:0.678rem 1rem;}}.well.no-side-padding{padding-left:0;padding-right:0;}
[class*='span-'],.row{padding:0 0.5rem;min-height:1px;position:relative;}
.row{overflow:hidden;}
.span-1{width:25%;}
.span-2{width:50%;}
.span-3{width:75%;}
@media (min-width:599px){[class*='span-'],.row{padding:0 0.75rem;} .span-1{width:12.5%;} .span-2{width:25%;} .span-3{width:37.5%;} .span-4{width:50%;} .span-5{width:62.5%;} .span-6{width:75%;} .span-7{width:87.5%;} .span-8{width:100%;} .mid-1{width:12.5%;} .mid-2{width:25%;} .mid-3{width:37.5%;} .mid-4{width:50%;} .mid-5{width:62.5%;} .mid-6{width:75%;} .mid-7{width:87.5%;} .mid-8{width:100%;}}@media (min-width:959px){[class*='span-'],.row{padding:0 1rem;} .span-1{width:8.333333333333334%;} .span-2{width:16.666666666666668%;} .span-3{width:25%;} .span-4{width:33.333333333333336%;} .span-5{width:41.66666666666667%;} .span-6{width:50%;} .span-7{width:58.333333333333336%;} .span-8{width:66.66666666666667%;} .span-9{width:75%;} .span-10{width:83.33333333333334%;} .span-11{width:91.66666666666667%;} .mid-1{width:8.333333333333334%;} .mid-2{width:16.666666666666668%;} .mid-3{width:25%;} .mid-4{width:33.333333333333336%;} .mid-5{width:41.66666666666667%;} .mid-6{width:50%;} .mid-7{width:58.333333333333336%;} .mid-8{width:66.66666666666667%;} .mid-9{width:75%;} .mid-10{width:83.33333333333334%;} .mid-11{width:91.66666666666667%;} .large-1{width:8.333333333333334%;} .large-2{width:16.666666666666668%;} .large-3{width:25%;} .large-4{width:33.333333333333336%;} .large-5{width:41.66666666666667%;} .large-6{width:50%;} .large-7{width:58.333333333333336%;} .large-8{width:66.66666666666667%;} .large-9{width:75%;} .large-10{width:83.33333333333334%;} .large-11{width:91.66666666666667%;}}.container{max-width:1200px;}
@media (max-width:1199px){.container{max-width:960px;}}@media (max-width:959px){.container{max-width:100%;}}.hero-box{padding-top:4em;padding-bottom:4em;margin-bottom:1em;text-align:center;}
code,pre{font-size:0.875em;}
pre{padding:0.339rem 0.5rem;margin:0 0 0.5rem;background-color:#f4f6fa;border-radius:5px;border:1px solid #d1d9ea;white-space:pre;overflow-x:scroll;}@media (min-width:599px){pre{padding:0.5085000000000001rem 0.75rem;}}@media (min-width:959px){pre{padding:0.678rem 1rem;}}pre.no-side-padding{padding-left:0;padding-right:0;}
code{padding:3px 5px;background-color:#f5f5f5;}
.subheading{display:block;font-size:0.4em;font-weight:normal;}
